.page-header
  %h1 Favorites
  %h2 You have #{current_user.favorites.count} Favorites
%table
  %thead
    %tr
      %th Menu Item
      %th Location
  %tbody
    - current_user.favorites.each do |favorite|
      %tr
        %td= favorite.menu_item.name
        %td= favorite.menu_item.menu.merchant.name
